<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="script" href="/javascripts/javascripts.js"
  </head>
  <body>
    <div class="login">
      <h1>Welcome</h1>
        <form method="GET" action="../users/add">
          <input type="text" id="name" name="name" placeholder="NAME" required="required" />
          <button type="submit" class="btn btn-primary btn-block btn-large">check in</button>
        </form>
    </div>
  </body>
</html>
